<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--定义bean -->
    <bean id="user" class="com.spring.orm.aop.UserDaoimpl"/>
    <bean id="beforeadvice" class="com.spring.orm.aop.BeforeAdvice"/>
    <aop:config>
        <aop:aspect id="before1" ref="beforeadvice">
            <aop:pointcut id="PointCut" expression="execution(* com.spring.aop.*.*(..))"/>
            <aop:before method="beforeMethod" pointcut-ref="PointCut"/>
        </aop:aspect>
    </aop:config>

    <!--启动AspectJ支持-->
    <aop:aspectj-autoproxy/>
    <!--定义bean-->
    <bean id="fighter" class="com.waylau.spring.aop.Fighter"/>
    <bean id="tiger" class="com.waylau.spring.aop.Tiger"/>
</beans>